
<div class="container p-lg-4">
    <div class="row border bg-info text-white border-dark">
        <div class="col">Asset No.</div>
        <div class="col">Asset Name</div>
        <div class="col">Asset Version</div>
    </div>
    @for (int j = 0; j < Assets.Count; j++)
    {
        <div class="row border border-dark" style="border-radius=5px;background-color:aliceblue;">
            <div class="col align-items-center">@(j + 1)</div>
            <div class="col align-items-center">@Assets[j].AssetName</div>
            <div class="col align-items-center">@Assets[j].AssetVersion</div>
        </div>
    }
</div>
