
@rendermode InteractiveServer
@if (Machines == null)
{
    <div class="spinner-border-sm"></div>
}
else
{
    <div class="container">
        <div class="container text-center">
            <div class="row">
                <div class="col">No.</div>
                <div class="col">Machine Id</div>
                <div class="col">Machine Name</div>
                <div class="col"></div>

            </div>
            @if (Machines.Count == 0)
            {
                <div class="row">Machine not found</div>
            }
            else
            {
                @foreach(var machine in Machines)
                {
                    <div class="row m-2">
                        <div class="col">@machine.MachineName</div>
                        <div class="col">@machine.MachineName</div>
                        <div class="col">@machine.MachineName</div>
                        <div class="col">
                            <button class="btn-success m-2">View</button>
                            <button class="btn-warning m-2">Edit</button>
                            <button class="btn-danger m-2">Delete</button>
                        </div>
                    </div>
                }
            }
        </div>
   </div>
}